
.content-container{
    display: flex;
    flex: 1 1 auto;
background-color: #fcfcfc;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
}
.--content-title{
   h1{
       margin: 5px;
   }
    text-align: center;
   
}
.post-detail{
    text-align: center;
    li{
        display: inline-block;
        list-style: none;
        padding: 8px 10px;
    }
    a{
        color: rgb(1, 170, 1);
        text-decoration: none;
    }
}
.--content{
width: 70%;
flex-wrap: wrap;

}
.side-bar{
    margin-left: 20px;
   width: 350px;
}
#f-letter::first-letter{
    
        font-size: 50px;
}
#f-letter{
    line-height: 30px;
   // font-size: 20px;
    word-spacing: 0.05em;
}
.newsletter{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

    background-color: #CB0101;
    color: white;
    padding: 10px;
    width: 100%;
    h1{
        text-align: center;
    }
}
.newsletter-form{
    display: block;
}
.form-group{
    align-items: center;
    padding: 10px;
    button{
        background-color: rgb(13, 75, 243);
        border:none;
        border-radius: 5px;
        color: white;
        padding: 10px;
        width: 100%;
        font-size: 15px;
    }

    input{
        width:90%;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #eee;
    }
}
.--grid-column{
    margin-bottom: 10px;
    display: grid;
    gap:10px;
    //grid-column: auto;
     grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.column-card{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

    background-color: #ffffff;
    padding: 8px;
    flex-wrap: wrap;
    span{
        margin-top: 5px;
        padding: 8px;
        background-color: #CB0101;
        color: #eee;
    }
    a{
        color: #121212;
        text-decoration: none;
    }
}
.share-button{
    text-align: center;
}
.share-list{
    list-style: none;
    display: inline-block;
    padding: 8px;
    a{

    text-decoration:none;
    }
}
.whatsapp{
    background-color: #05ca15;
    border-radius: 50%;
    padding: 8px;

    i{
        color: #ffffff;
       // font-size: 15px;

    }
}

.facebook{
    background-color: #0044c2;
    border-radius: 50%;
    padding: 8px;

    i{
        color: #ffffff;
       // font-size: 15px;

    }
}

.twitter{
    background-color: #028edf;
    border-radius: 50%;
    padding: 8px;

    i{
        color: #ffffff;
        //font-size: 15px;

    }
}

.ig{
    background-color: #f30a3c;
    border-radius: 50%;
    padding: 8px;

    i{
        color: #ffffff;
        //font-size: 15px;

    }
}

.linkedin{
    background-color: #063a9c;
    border-radius: 50%;
    padding: 8px;

    i{
        color: #ffffff;
        //font-size: 15px;

    }
}
.link{
    background-color: #171817;
    border-radius: 50%;
    padding: 8px;

    i{
        color: #ffffff;
        //font-size: 2px;

    }
}
.comment-area{
    border-top: 2px solid #eee;
}
.comment-tab{
    th{
        padding: 10px 12px;
    }
}
.active-comment-tab{
    border-bottom: 2px solid #eee;
    transition: border 1s;

}
#comment-form, #comment-list{
cursor: pointer;
}
@media (prefers-color-scheme: dark) {
    .form-container, .newsletter, .column-card{
        color: #eee;
    background-color: #1f1d1d;
    }
    .whatsapp, .twitter, .linkedin, .ig, .facebook{
        background-color: #171817;
        color: #ffffff;

    }
    .content-container{
        color: #eee;
    background-color: #1f1d1d;
    }
    
}
.form-container{
    width: 600px;
    background-color: #f7f4f4;
    padding:10px;
    p{
        color: #ff0606;
    }
}
.form-item{
    margin-bottom: 5px;
   textarea, input[type=email],input[type=text]{
        padding: 10px;
        width: 500px;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
    }
    textarea:focus, input:focus{
border: 1px solid #0044c2;
outline-style: none;
    }
}